<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add New Food">
    <meta name="author" content="Chris Asp">

    <title>Add a New Food Exposure</title>

  </head>

  <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Eat More Food</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Dashboard</a></li>

              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
          </div>
        </nav>

<div class="container">
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h2>Welcome Back, Danielle</h2>
        <h1>Add New Food</h1>
      </div>

        <form class="form-signin" method="POST" action="/new/">
        <div class="form-group">
          <h2>New Food</h2>
          <label for="inputName" class="sr-only">Food Name</label>
          <input type="text" name="name" class="form-control" placeholder="Food Name" maxlength="20" required="" id="id_name">
        </div>
        <div class="form-group">
          <h2>Rating</h2>
          <label for="rating" class="sr-only">Rating out of 5</label>
          <input type="radio" name="rating" value="1" checked required="" id="id_rating"> 1
          <input type="radio" name="rating" value="2"> 2
          <input type="radio" name="rating" value="3"> 3
          <input type="radio" name="rating" value="4"> 4
          <input type="radio" name="rating" value="5"> 5
        </div>
        <div class="form-group">
          <h2>Comment</h2>
          <label for="comments" class="sr-only">Comments:</label>
            <textarea name="comments" cols="10" rows="5" class="form-control" placeholder="Any troubles?" required="" id="id_comments"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Food</button>
      </form>
    </div>
</div></body></html>
