<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="New Food Added">
    <meta name="author" content="Chris Asp">

    <title>New Food Exposure Added</title>

  </head>

  <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Eat More Food</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Dashboard</a></li>

              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" gplaceholder="Search...">
              </form>
            </div>
          </div>
        </nav>

<div class="container">
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h2>You Did It, Danielle!</h2>
        <h1>New Food Added</h1>
      </div>                    <div>Congratulations on taking another step forward in your health journey. <br>Your body thanks you.</div>
                  <div>
              <img src="https://cdn.pixabay.com/photo/2016/11/18/13/48/food-1834645__340.jpg" width="400" height="400" class="img-responsive" >

                    <h2><b>Lettuce</b></h2>
                    <span class="text-muted"><h3>Added</h3></span>

              <span class="text-muted">Lettuce Rating: 2</span><br>
                    <span class="text-muted">Comments: No Issues</span>

</div></body></html>
